Pinch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Pinch.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Pinch.xcodeproj/project.xcworkspace/xcuserdata/noelvelasco.xcuserdatad/UserInterfaceState.xcuserstate
Pinch.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pinch.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/xcschememanagement.plist
